* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;

    padding: 1rem;
}

/* Header section */
header {
    grid-column: 2 / 4;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    border: 1px solid red;

    padding: 1rem 2rem;
}
.header-top,
.header-bottom {
    flex-shrink: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}
.user-menu,
.header-bottom > .user-info {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.header-top > .search {
    flex: 1;
    max-width: 500px;

    display: flex;
    align-items: center;
    gap: 1rem;
}
input {
    padding: 0.8rem;
    width: 100%;

    border-radius: 15px;
}
.actions button {
    padding: 0.5rem 0.8rem;
}

/* Sidebar section */
.sidebar {
    grid-row: 1 / 4;

    padding: 1rem 2rem;
    border: 1px solid red;

    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.sidebar-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}
a {
    text-decoration: none;
}
.sidebar-nav ul li a,
.sidebar-secondary ul li a,
.trending-users .user-profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Main section */
main {
    grid-row: 2 / 4;

    padding: 1rem 2rem;
    border: 1px solid red;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}
main .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}
.card {
    border: 1px solid red;

    padding: 0.5rem 1rem;
}
.cards .card-icons {
    margin-top: 2rem;
    
    display: flex;
    justify-content: end;
    gap: 0.5rem;
}

/* Aside card section */
/* announcement cards */
.cards-aside {
    grid-row: 2 / 4;
    grid-column: 3 / 4;

    padding: 1rem 0;
    border: 1px solid red;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.aside-card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.announcement-list {
    border: 1px solid red;

    padding: 0.5rem 1rem;
}
.trending-users {
    border: 1px solid red;
    padding: 0.5rem 1rem;
}
.announcement-item {
    margin-bottom: 1rem;
}
.announcement-item p { 
    padding-bottom: 0.5rem;
}

/* trending users cards */
.trending-users {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
{
    display: flex;
}