@import url('https://fonts.googleapis.com/css2?family=Boldonse&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Noto Serif", sans-serif;
    background-color: rgb(30, 30, 30);
    color: white;
}

:root {
    --space-sm: 0.5rem;
    --space-md: 1rem;
    --space-lg: 2rem;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    gap: 20px;

    padding: var(--space-md);
}

/* Header section */
header {
    grid-column: 2 / 4;

    display: flex;
    flex-direction: column;
    gap: var(--space-lg);

    background-color: black;
    border-radius: var(--space-md);

    padding: var(--space-md) var(--space-lg);
}
.header-top,
.header-bottom {
    flex-shrink: 1;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-lg);
}
.user-menu,
.header-bottom > .user-info {
    display: flex;
    align-items: center;
    gap: var(--space-md);
}
.header-top > .search {
    flex: 1;
    max-width: 500px;

    display: flex;
    align-items: center;
    gap: var(--space-md);
}
.actions {
    display: flex;
    gap: var(--space-md);
}
input {
    padding: 0.8rem;
    width: 100%;

    border-radius: 15px;
    background-color: rgb(30, 30, 30);
    border: 2px solid rgb(51, 74, 209);
    color: white;
}
input:focus {
    outline: none;
    box-shadow: 0 0 8px 6px rgba(0, 123, 255, 0.5);
}

#user-profile-name {
    color: rgb(51, 74, 209);
    font-weight: 900;
}

.greet {
    color: rgb(170, 170, 170);
}
.greet h1 {
    color: rgb(51, 74, 209);
}

/* Sidebar section */
.sidebar {
    grid-row: 1 / 4;

    padding: 1rem 2rem;
    background-color: rgb(51, 74, 209);
    border-radius: var(--space-md);

    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}
.sidebar-header {
    display: flex;
    align-items: center;
    gap: var(--space-md);
}
ul {
    padding: 0;
    margin: 0;
    list-style-type: none;

    gap: var(--space-sm);
}
.sidebar-nav ul li a,
.sidebar-secondary ul li a,
.trending-users .user-profile {
    display: flex;
    align-items: center;
    gap: var(--space-md);
}

/* Main section */
main {
    grid-row: 2 / 4;

    padding: var(--space-md) 0;

    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}
main .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: var(--space-md);
}
.card {
    background-color: black;
    border-radius: var(--space-md);

    padding: var(--space-md) var(--space-lg);
}
.cards .card-icons {
    margin-top: var(--space-lg);
    
    display: flex;
    justify-content: end;
    gap: var(--space-sm);
}

/* Aside card section */
/* announcement cards */
.cards-aside {
    grid-row: 2 / 4;
    grid-column: 3 / 4;

    padding: var(--space-md) 0;

    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
}
.aside-card {
    display: flex;
    flex-direction: column;
    gap: var(--space-md);
}
.announcement-list {
    background-color: black;
    border-radius: var(--space-md);

    padding: var(--space-sm) var(--space-md);
}
.trending-users {
    background-color: black;
    border-radius: var(--space-md);
    padding: var(--space-md) var(--space-lg);
}
.announcement-item {
    margin-bottom: var(--space-md);
}
.announcement-item p { 
    padding-bottom: var(--space-sm);
}

/* trending users cards */
.trending-users {
    gap: var(--space-md);
}

/* extras */
.trending-users,
.sidebar-nav ul,
.sidebar-secondary ul {
    display: flex;
    flex-direction: column;
}

button {
    padding: var(--space-sm) 0.8rem;
    border-radius: var(--space-sm);
    border: none;
    cursor: pointer;

    background-color: rgb(51, 74, 209);
    color: white;
}

a {
    text-decoration: none;
    color: inherit;
}

svg {
    color: rgb(51, 74, 209);
}

.sidebar svg {
    color: white;
}